# -*- coding: utf-8 -*-

altgraph==0.17.5
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
comtypes==1.4.16
idna==3.13
iniconfig==2.3.0
packaging==26.2
pefile==2024.8.26
pluggy==1.6.0
pygments==2.20.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.4
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
pytest==9.0.3
pyttsx3==2.99
requests==2.33.1
roman==5.2
setuptools==82.0.1
shiboken6==6.11.0
urllib3==2.6.3
wheel==0.47.0
# Windows-only dependencies
pypiwin32==223; platform_system == "Windows"
pywin32; sys_platform == 'win32'
pywin32-ctypes==0.2.3; sys_platform == 'win32'
